*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font: 16px Arial;  
}

.autocomplete {
 position: relative;
 display: flex;
 justify-content: center;
 width: 300px;
}

.autocomplete-items {
 position: absolute;
 border: 1px solid #d4d4d4;
 border-bottom: none;
 border-top: none;
 z-index: 99;
 top: 100%;
 left: 0;
 right: 0;
}

.autocomplete-items div {
 padding: 10px;
 cursor: pointer;
 background-color: #fff; 
 border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
 background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
 
 input[type=text] {
  background-color: #ffffff;
  width: 100%;
}
 
 input[type=button] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  width: 300px;
   
}

#maindiv{
  width: 25vw;
  height: 80vh;
  display: flex;
  margin: auto;
  background-image:url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;       
}
 
#docs{
 display: none;
 height: 100vh;
 background-color: rgb(214, 214, 214);
 flex-direction: row; 
}

#doc1{
 border: 2px solid black;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: rgb(255, 255, 255);
 width: 25vw;
 height: 80vh;
 margin: auto;
 border-radius: 20px;
}

#doc2{
 border: 2px solid black;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: rgb(255, 255, 255);
 width: 25vw;
 height: 80vh;
 margin: auto;
 border-radius: 20px;
}

#doc3{
 border: 2px solid black;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: rgb(255, 255, 255);
 width: 25vw;
 height: 80vh;
 margin: auto;
 border-radius: 20px;
}

button{
 padding: 10vh 8vh;
 background-color: rgb(255, 255, 255);
 border-radius: 10px;
 border: none;

}

strong{
 font-size: large;
}

.icon img{
 width: 180px;
 height: 180px;
 border-radius: 50%;
 position: relative;
 left: 1.5vw;
 bottom: 11vh;
}

p{
  text-align: center;
  
}

#box{
  display: none;
  flex-direction: row;
  position: relative;
  height: 88vh;
  width: 98vw;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}


#box1{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 82vh;
  background-color: rgb(255, 255, 255);
}

#box2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 82vh;
  background-color: rgb(255, 255, 255);
}

#name{
 width: 30vw;
 height: 6vh;
 border-radius: 20px;
 background-color: white;
 text-transform: uppercase; 
 border-color: rgb(126, 226, 243);
}

#pname{
 width: 30vw;
 height: 6vh;
 border-radius: 20px;
 background-color: white;
 text-transform: uppercase; 
 border-color: rgb(126, 226, 243);
}

#nav{
 background-color: rgb(255, 255, 255);
 display: flex;
 align-items: center;
 justify-content: center;
 height: 18vh;
}

.nav{
height: 13vh;
width: auto;
}
      
label h3{
 text-align: center;
 margin-bottom: 2vh;
 margin-top: 50px;
 font-size: larger;
 color: rgb(255, 255, 255);
 font-weight: bolder;      
}

input{
 width: 30vw;
 height: 6vh;
 text-align: center;
 font-weight: bold;
 margin-top: 2vh;
 text-transform: uppercase; 
 background-color: rgb(167, 164, 164);  
}

.input{
 display: flex;
 flex-direction: column;   
}

.logo{
 display: flex;
 align-self: center;
 border-radius: 50%;
 width: 25vh;
 height: auto;
}

form{
 display: flex;
 flex-direction: column;
 align-items: center;
}

#footer div{
 background-color: rgb(241, 241, 241);
 height: 10vh;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}

p{
 font-size: medium;
 text-align: center;
}

#name{
  border:2px solid black;
  border-radius: 0px;
}

#pname{
  border:2px solid black;
  border-radius: 0px;
}

#submit{
  width: 10vw;
  background-color: rgb(115, 115, 192);
  border-radius: 20px;
  border:2px solid black;
}

#number{
  border-radius: 20px;
  background-color: white;
  border:2px solid black;
  border-radius: 0px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 100;
}

/* Modal Content */


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40vw;
  height: 30vh;
 
}

#body{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 100;
}

/* Modal Content */


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40vw;
 
}

h5{
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
